statemachines/dataLakePipeline.json
{
  "Comment": "A Step Function to run Lambda with SNS notifications",
  "StartAt": "RunLambda",
  "States": {
    "RunLambda": {
      "Type": "Task",
      "Resource": "${CopyFilesLambdaArn}",
      "Next": "CheckLambdaResult",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyFailure"
        }
      ]
    },
    "CheckLambdaResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.raw2staging.statusCode",
          "NumericEquals": 200,
          "Next": "Success"
        }
      ],
      "Default": "NotifyFailure"
    },
    "Success": {
      "Type": "Succeed"
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:${AWS::Region}:${AWS::AccountId}:GlueJobFailureNotifications",
        "Message": {
          "Error": "An error occurred in the Step Function",
          "Details.$": "$"
        },
        "Subject": "Step Function Error Notification"
      },
      "End": true
    }
  }
}
